#pythonキャッシュ
__pycache__
*.py[cod]
*$py.class

#仮想環境
.venv/

DBadminpass.txt
chat_summary.txt
起動確認.txt
.env
db.sqlite3
.DS_Store
.vscode/

#DBフォルダはgit管理外にする（フォルダ名はdocker-compose.ymlで確認）
postgres_data/